.idea/
__pycache__/
*/__pycache__/
.pytest_cache/
terraform/.terraform*

.bash_history
.mypy_cache
.coverage
*.env
!tests/test.env
htmlcov
terraform/terraform-gke-keyfile.json
*.tfstate
*.tfstate.backup
*.tfvars
*.log
*.log.*
tfplan
kubernetes/secrets.txt
kubernetes/templates/secrets.yaml
